@(branches: List[(Branch, Option[String])])(implicit revR: RevRouteFix, flash: Flash)

@main {
    <h1>Last known revisions</h1>

    @flash.get("success").map { message =>
        <div class="alert alert-success" role="alert">
            <strong>Done!</strong> @message
        </div>
    }

    @flash.get("failure").map { message =>
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> @message
        </div>
    }

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Branch</th>
            <th>Last known revision</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        @branches.map { case (branch, shaOpt) =>
            <tr>
                <td>@branch.entryName</td>
                <td>@shaOpt.getOrElse("")</td>
                <td>
                    <a class="btn btn-default btn-sm" href="@revR(routes.HomeController.editKnownRevision(branch.entryName))" role="button">
                        <span class="glyphicon glyphicon-pencil"/>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
