@(branches: List[(Branch, Option[String])])(implicit revR: RevRouteFix, flash: Flash)

@main {
    <h1>Last Known Revisions</h1>

    @flashes()

    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Branch</th>
            <th>Last known revision</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        @branches.map { case (branch, shaOpt) =>
            <tr>
                <td>@branch.entryName</td>
                <td>@shaOpt.getOrElse("")</td>
                <td>
                    <a class="btn btn-default btn-sm" href="@revR(routes.HomeController.editKnownRevision(branch.entryName))" role="button">
                        <span class="glyphicon glyphicon-pencil"/>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
