@(branch: String, f: Form[String])(implicit revR: RevRouteFix, messages: Messages)

@import b3.vertical.fieldConstructor

@main {
    <h1>Edit Last Known Revision</h1>
    @b3.form(revR.call(routes.HomeController.updateKnownRevision(branch))) {
        <!-- play-bootstrap pushes the validation pattern to the client (html5 form validation).
             Chrome shows the content of the "title" attribute in the error message. -->
        @b3.text(f("revision"), '_label -> s"Branch $branch", 'title -> "Not a valid sha")

        <div class="actions">
            <input type="submit" value="Save Revision" class="btn btn-primary"/> or
            <a href="@revR(routes.HomeController.branches)" class="btn btn-default">Cancel</a>
        </div>
    }
}
