@(user: Option[User])(content: Html)(implicit revR: RevRouteFix)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Benchmark Tasks</title>

        <link rel="stylesheet" href='@revR(routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css"))'>
        <link rel="stylesheet" href='@revR(routes.Assets.versioned("stylesheets/main.css"))'>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@revR(routes.HomeController.index)">BenchQ</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li @*class="active"*@><a href="@revR(routes.HomeController.tasks())">Task Queue</a></li>
                        <li><a href="@revR(routes.HomeController.branches)">Branches</a></li>
                        <li><a href="@revR(routes.HomeController.benchmarks)">Benchmarks</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @user.fold {
                            <li><a href="@revR(routes.SocialAuthController.authenticate(com.mohiva.play.silhouette.impl.providers.oauth2.GitHubProvider.ID))">Sign In</a></li>
                        } { user =>
                            <li><a href="#">@user.name</a></li>
                            <li><a href="@revR(routes.SocialAuthController.signOut)">Sign Out</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container" role="main">
            @content
        </div>

        <script src='@revR(routes.Assets.versioned("lib/jquery/jquery.js"))' type="text/javascript"></script>
        <script src='@revR(routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js"))' type="text/javascript"></script>
        <script src='@revR(routes.Assets.versioned("javascripts/main.js"))' type="text/javascript"></script>
    </body>
</html>
