@(user: User)(form: Form[CompilerBenchmarkTask], allBenchmarks: Seq[(String, String)])(implicit revR: RevRouteFix, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Some(user)) {
    <h1>New Benchmark Task</h1>

    @b3.form(revR.call(routes.HomeController.createTask())) {
        <fieldset>
            @b3.text(form("priority"), '_label -> "Priority", '_help -> "0 is highest, 100 is default")
            @b3.text(form("scalaVersion"), '_label -> "Scala version", 'title -> "Not a valid sha")
            @b3.select(form("benchmarks"),
                options = allBenchmarks,
                'multiple -> true,
                '_label -> "Benchmarks",
                '_help -> "Use command-click / control-click to select or un-select")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create" class="btn btn-primary"/> or
            <a href="@revR(routes.HomeController.tasks())" class="btn btn-default">Cancel</a>
        </div>
    }
}
