@(tasks: List[CompilerBenchmarkTask], done: Option[List[CompilerBenchmarkTask]])(implicit revR: RevRouteFix, flash: Flash)

@taskTable(ts: List[CompilerBenchmarkTask]) = {
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Priority</th>
        <th>Status</th>
        <th>Scala version</th>
        <th>Benchmarks</th>
    </tr>
    </thead>
    <tbody>
        @ts.map { t =>
            <tr>
                <td>@t.priority</td>
                <td>@t.status</td>
                <td>@t.scalaVersion</td>
                <td>@t.benchmarks</td>
            </tr>
        }
    </tbody>
</table>

}

@main {
    <h1>Benchmark Tasks</h1>

    @flashes()
    <a class="btn btn-success pull-right" href="@revR(routes.HomeController.newTask)" role="button">Add a Task</a>

    @if(tasks.nonEmpty) {
        @taskTable(tasks)
    } else {
        <div class="well">
            <em>Task queue is empty.</em>
        </div>
    }

    @done.fold {
        <a class="btn btn-default" href="@revR(routes.HomeController.tasks(true))" role="button">Show Completed</a>
    } { ts =>
        <h3>Completed Tasks</h3>
        @taskTable(ts)
    }
}
