@(tasks: List[CompilerBenchmarkTask], done: Option[List[CompilerBenchmarkTask]])(implicit revR: RevRouteFix, flash: Flash)

@main {
    <h1>Benchmark Tasks</h1>

    @flashes()

    @if(tasks.nonEmpty) {
        @taskTable(tasks, true, true)
    } else {
        <div class="well">
            <em>Task queue is empty.</em>
        </div>
    }

    @done.fold {
        <a class="btn btn-default" href="@revR(routes.HomeController.tasks(true))" role="button">Show Completed</a>
    } { ts =>
        <h3>Completed Tasks</h3>
        @taskTable(ts, false, true)
    }
}
