@(user: User)(taskForm: Form[form.NewTaskData], allBenchmarks: Seq[(String, String)], defaultJobPriority: Int)(implicit revR: RevRouteFix, messages: Messages)

@import b3.vertical.fieldConstructor

@main(Some(user)) {
    <h1>New Benchmark Task</h1>

    @b3.form(revR.call(routes.HomeController.createTask())) {
        <fieldset>
            @b3.text(taskForm("priority"), '_label -> "Priority", '_help -> s"0 is highest, $defaultJobPriority is default")
            @b3.text(taskForm("repo"), '_label -> "Repository", '_help -> "Scala fork containing the revisions to benchmark")
            @b3.textarea(taskForm("revisions"),
                'rows -> 5,
                '_label -> "Revisions",
                '_help -> "One (full) commit sha or tag on scala/scala per line")
            @b3.select(taskForm("benchmarks"),
                options = allBenchmarks,
                'multiple -> true,
                '_label -> "Benchmarks",
                '_help -> "Use command-click / control-click to select or un-select")
        </fieldset>

        <div class="actions">
            <input type="submit" value="Create" class="btn btn-primary"/> or
            <a href="@revR(routes.HomeController.tasks())" class="btn btn-default">Cancel</a>
        </div>
    }
}
